#home {
	background: url("https://timemarcheson.files.wordpress.com/2011/07/bugs-bunny-wallpaper.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#home{
	background: url("http://www.francescotonelli.com/media/original/20110721_bk_062_2_full.jpg");
	height: 800px;
}
